.idea/
__pycache__/
venv/

.DS_Store

#
checkpoint/
datasets/cifar-10-python.tar.gz
datasets/cifar-10-batches*
datasets/cifar-100-python*
datasets/MNIST/
etc_codes/datasets/
model/datasets/


#
outputs/
outputs_onetime/
summaries/
summaries_onetime/
results_txt/

pytorch_classification/
